# ========== Java / Spring (백엔드) ==========
**/build/
**/.gradle/
**/.idea/
**/*.iml
**/out/

# ========== Node.js / React (프론트엔드) ==========
**/node_modules/
**/coverage/
**/build/
**/.pnp
**/.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========== 환경변수 / 민감정보 ==========
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ========== macOS ==========
.DS_Store

# ========== VS Code ==========
.vscode/

#=====sensorWIFI======
.env.*
!.env.example
config.cpp
credentials.h
config.h
secrets.h

# ==================================
# Python / AI
# ==================================
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
env/
*.pt
*.pth

# ==================================
# General
# ==================================
*.log
# AI Log Images
SmartFarmAI/log/*.jpg